.filter {
    box-shadow: 0 0 3px gray;
    padding: 15px 20px;
    border-radius: 10px;

}

.transaction-form input {
    border: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    border-radius: 5px;
    font-size: 14px;
    padding: 4px;
    padding-left: 10px;
}

.transaction-form textarea {
    border: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    border-radius: 5px;
    font-size: 14px;
    padding: 4px;
    padding-left: 10px;
}

.category-name {
    font-size: 15px;
    font-family: poppins, sans-serif;
    color: #176f44;
}

.transaction-form input:focus {
    border: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}

.input {
    border-radius: 15px;
    border-color: gainsboro; /* Move the text to the right by 10px */
}

.transaction-form {
    color: gray;
}

.view-switch {
    border: 1px solid rgb(215, 215, 215);
    padding: 5px 10px;
    border-radius: 5px;
}

.anticon_svg {
    font-size: 20px;
    cursor: pointer;
}

.active-icon {
    color: black;
}

.inactive-icon {
    color: gray;
}

.ant-picker-range {
    border: 1px solid rgb(213, 213, 213);
}

@media screen and (max-width: 768px) {
    .filter {
        overflow: scroll;
    }
}

.white-icon {
    color: white;
}

.category-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 8px;
}

.category-icon-data-tree {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 5px;
}

.category-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 8px;
    font-size: 16px;
}

/* Example styles for different categories */
.housing {
    background-color: #ff8d23;
    /* Example background color for groceries */
}

.shopping {
    background-color: #5bc0de;
    /* Example background color for restaurants */
}

.food-drink {
    background-color: #d9534f;
    /* Example background color for home */
}

.transportation {
    background-color: #c1c1c1;
    /* Example background color for home */
}

.vehicle {
    background-color: #8c00cd;
}

.Life-entertainment {
    background-color: #5eef68;
}

.Finan {
    background-color: #3cb38f;
}

.income {
    background-color: #ffdf53;
}

.OCR_button {
    background-color: #176f44;
    border-radius: 5px;
    color: aliceblue;
    padding: 8px 10px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
}

.filter {
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    margin-bottom: 20px;
}

.filter h6 {
    margin-bottom: 10px;
    font-size: 14px;
}

.filter .d-flex {
    display: flex;
}

.filter .d-felx {
    display: flex;
    flex-direction: column;
}

.filter .mt-2 {
    margin-top: 2px;
}

button.primary {
    background-color: #176f41;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button.primary:hover {
    background-color: #145d36;
}

button.primary:active {
    transform: scale(0.95);
}

button.primary.mx-3 {
    margin-left: 1rem;
    margin-right: 1rem;
}


.table-analytics {
    margin-top: 20px;
}

.report-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.table {
    width: 100%;
}

/* Add styling for your table, for example: */

.ant-table {
    font-size: 14px;
}

.ant-table-thead th {
    background-color: #00915f;
    color: #fff;
}

.ant-table-tbody td {
    border-bottom: 1px solid gray;
}

.category-icon {
    margin-right: 5px;
}

.report-header {
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    color: #176f44;
}

/* Add these styles to your transactions.css file or create a new CSS file */

.budget-table {
    margin-top: 20px;
}

.budget-item {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.budget-item:hover {
    background-color: #f5f5f5;
}

.budget-item-details {
    flex: 1;
    margin-right: 10px;
}

.budget-item-category {
    font-size: 18px;
    font-weight: bold;
}

.budget-item-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
    margin-top: 10px;
}

.budget-item-info span {
    margin-right: 10px;
}

.budget-item-actions {
    display: flex;
    align-items: center;
    margin-top: 35px;
}

.budget-item-actions button {
    margin-left: 5px;
    cursor: pointer;
}

/* Goal.css */
.goal-table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.goal-item {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    display: grid;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1200px) {
    .goal-item {
        width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .goal-item {
        width: calc(100% - 20px);
    }
}


.goal-item:hover {
    background-color: #f5f5f5;
}

.goal-item-details {
    flex: 1;
    margin-right: 10px;
}

.goal-item-category {
    font-size: 23px;
    font-weight: bold;
}

.goal-item-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
}

.goal-item-info span {
    margin-right: 10px;
}

.goal-item-actions {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.goal-item-actions button {
    margin-left: 5px;
    cursor: pointer;
}

.progress-container {
    position: relative;
}

.progress-top {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.target-amount {
    font-size: 25px;
    font-weight: bold;
}

.remain-days {
    font-size: 18px;
    color: #999da0;
    font-weight: bold;
    margin-top: 10px;
}

.progress-mid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.progress-bottom {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.add-money-btn{
    color: #00915f;
}

.toggle-buttons {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.custom-segmented .ant-segmented-item {
    position: relative;
    z-index: 1;
    padding: 3px;
    border-radius: 6px;
    transition: margin 0.3s, z-index 0.3s, transform 0.3s;
    background-color: #fff;
    color: #000;
}

.custom-segmented .ant-segmented-item:hover {
    z-index: 2;
}

.custom-segmented .ant-segmented-item-selected {
    background-color: #176f44 !important;
    color: white !important;
    z-index: 3;
    transform: scale(1.1); /* Make the selected segment bigger */
    transition: margin 0.3s, z-index 0.3s, transform 0.3s;
}

.goal-name {
    font-size: 15px;
    font-family: poppins, sans-serif;
    color: #176f44;
}
